openapi: 3.0.3
info:
  title: ArmSoft SME Trade Public API
  description: REST API for managing products, partners, inventory, and more in the ArmSoft SME Trade system
  version: "1"
  contact:
    name: ArmSoft Support
    email: support@armsoft.am
    url: https://armsoft.am

servers:
  - url: https://api.armsoft.am/trade/v1
    description: Production

security:
  - apiKeyAuth: []

tags:
  - name: Products
    description: Product management endpoints
  - name: Measure Units
    description: Product measurement units

paths:
  /directories/products/list:
    $ref: ./paths/directories/products.yaml#/~1directories~1products~1list
  /directories/products/list/nextpage:
    $ref: ./paths/directories/products.yaml#/~1directories~1products~1list~1nextpage
  /directories/products:
    $ref: ./paths/directories/products.yaml#/~1directories~1products
  /directories/products/{code}:
    $ref: ./paths/directories/products_{code}.yaml#/~1directories~1products~1{code}
  /directories/products/measureunits/list:
    $ref: ./paths/directories/products_measureunits.yaml#/~1directories~1products~1measureunits~1list
  /directories/products/measureunits/list/nextpage:
    $ref: ./paths/directories/products_measureunits.yaml#/~1directories~1products~1measureunits~1list~1nextpage
  /directories/products/measureunits:
    $ref: ./paths/directories/products_measureunits.yaml#/~1directories~1products~1measureunits
  /directories/products/{productCode}/measureunits/{unitCode}:
    $ref: ./paths/directories/products_{code}_measureunits_{unitCode}.yaml#/~1directories~1products~1{productCode}~1measureunits~1{unitCode}

components:
  securitySchemes:
    apiKeyAuth:
      $ref: ./components/securitySchemes/api-key.yaml

  schemas:
    # Shared
    ApiResponse:
      $ref: ./components/schemas/_shared/ApiResponse.yaml
    NextPageRequest:
      $ref: ./components/schemas/_shared/NextPageRequest.yaml
    Error:
      $ref: ./components/schemas/_shared/Error.yaml
    # Directories — Products
    Product:
      $ref: ./components/schemas/directories/Product.yaml
    ProductRow:
      $ref: ./components/schemas/directories/ProductRow.yaml
    ProductRowApiResponse:
      $ref: ./components/schemas/directories/ProductRowApiResponse.yaml
    ProductFilters:
      $ref: ./components/schemas/directories/ProductFilters.yaml
    ProductMeasureUnit:
      $ref: ./components/schemas/directories/ProductMeasureUnit.yaml
    ProductMeasureUnitApiResponse:
      $ref: ./components/schemas/directories/ProductMeasureUnitApiResponse.yaml
    MeasureUnitFilters:
      $ref: ./components/schemas/directories/MeasureUnitFilters.yaml

  responses:
    BadRequest:
      description: Bad Request - Invalid parameters or validation failure
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string

    Unauthorized:
      description: Unauthorized - Missing or invalid API key
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string

    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string

    MethodNotAllowed:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string

    NotFound:
      description: Not Found - Resource doesn't exist
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string

    Conflict:
      description: Conflict - Resource conflict (e.g., duplicate code)
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string

    InternalError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string

    TooManyRequests:
      description: Too Many Requests - Rate limit exceeded
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string

    ServiceUnavailable:
      description: Service Unavailable
      content:
        application/json:
          schema:
            type: object
            properties:
              type:
                type: string
              title:
                type: string
              status:
                type: integer
              detail:
                type: string
